# add git-ignore syntax here of things you don't want copied into docker image

.git
*Dockerfile*
*docker-compose*
node_modules
helm
Jenkinsfile
npm-debug.log
yarn-debug.log
yarn-error.log
.dockerignore
